<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/joevankirk"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/joesgotabanjo/"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/imjoevankirk"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    API build by Joe Van Kirk
  </div>
</div>
