<div class="banner">
  <div class="banner-content">
    <h1>Welcome to Parson Store's Parse and Store<h1>
    <p>Type the full web address of your favorite website and I'll give you some content</p>
    <%= form_for(@page) do |f| %>
      <%= f.text_field :url %>
      <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
