<div class="banner">
  <div class="banner-content">
    <h1>Welcome to Joe's Parse and Store<h1>
    <p>Enter the full web address from your favorite site</p>
    <%= form_for(@page) do |f| %>
      <%= f.text_field :url %>
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>
</div>
